@import "mixins/mixins";
@import "_vars";

@include b(card) {
  margin-bottom: 5px;
  background-color: $white;

  @include e(title) {
    padding: 0 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
  }
  
  @include e(content) {
    position: relative;
  }
}