@import "mixins/mixins";
@import "mixins/untils";
@import "_vars";

@include b(popup) {
  list-style: none;
  width: 60vw;
  padding: 10px 0;
  @include utils-clearfix;
}

@include b(popup-item) {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}