@import "mixins/mixins";
@import "_vars";

@include b(ticket) {
  width: 26.67%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  overflow: hidden;
  color: $white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @each $name in green1, purple1, purple2, blue1, blue2, blue3 {
    @include m($name){
      background-image: url(../images/#{$name}.png);
    }
  }
}

@include b(ticket-group){
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10px 5px;
}
